body{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: 'Abel', sans-serif;
  background: #efefef;
}

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: black;
  }

  ::-webkit-scrollbar-thumb {
    background: white;
    border-right: 0.3px solid #1e261e;
  }

  * {
    font-family: 'Abel', sans-serif
  }

  .component-container{
    height: 600px;
    width: 70%;
    margin: auto;
    overflow: hidden;
  }

  @media screen and (max-width: 699px) {
    .component-container {
      height: 100vh;
      width: 100vw;
    }
  }

    .table-wrapper{
      height: 85%;
      width: 100%;
      margin: auto;
      overflow-y: scroll;
      overflow-x: hidden;
    }

        header{
          height: 15%;
          width: 100%;
          background: white;
          color: #1e261e;
          font-size: 2em;
          text-align: center;
          display: flex;
          flex-direction: column;
          letter-spacing: 1px;
          line-height: 100%;
        }

          header>span{
            display: block;
            margin: auto;
          }

          .title-name{
            color: #6c6c6c;
            text-decoration: underline;
          }

        table{
          table-layout: fixed;
        }

          tr{
            border: none;
          }

          .tr-even{
            background: white;
            border: none;
          }

          .tr-odd{
            background: #dbdbdb;
            border: none;
          }

          .t-header{
            background: #1e261e;
            color: white;
          }

          th, td{
            width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 50px;
          }

          .toggle-wrapper{
            position: relative;
            height: 15%;
            width: 100%;
            display: flex;
            flex-direction: row;
            padding: 1%;
            background: #333333;
          }

              .display-index{
                width: 50%;
                height: 100%;
                margin: auto;
                text-align: center;
                font-size: 2em;
                font-weight: 700;
                display: flex;
                flex-direction: column;
              }

                  .display-index span{
                    display: block;
                    margin: auto;
                    color: white;
                  }

              .toggle-button{
                position: relative;
                height: 100%;
                width: 15%;
                display: inline-block;
                margin: auto;
                font-family: 'Abel', sans-serif;
                font-size: 2em;
                text-align: center;
                cursor: pointer;
              }

                  .cover-div{
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    font-size: 2em;
                  }

                  .arrow{
                    transition: 0.3s ease;
                    font-size: 2em;
                    color: white;
                  }

                  .toggle-button:hover{
                    color: grey;
                  }